#tint {
    position: fixed; /* keeps the screen covered durning scroll */
    z-index: 100000; /* puts it on top of everything */
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    opacity: .8; /* so we can see through it */
    pointer-events: none; /* so we can click through it */
}